<div class="inner" data-timezone="{{ widget.settings.timezone }}"
  data-radio-enabled="{{ widget.settings.radio.enabled }}"
  data-radio-trigger-time="{{ widget.settings.radio.triggerTime }}"
  data-radio-timeout="{{ widget.settings.radio.timeOut }}"
  data-radio-station="{{ widget.settings.radio.station }}">
</div>

{% if widget.settings.format == 'analog' %}
<div id="analog-clock" class="analog-clock-container">
  <div class="analog-clock">
    <div class="hour hands"></div>
    <div class="minute hands"></div>
    <div class="second hands"></div>
  </div>
</div>
{% else %}
<div id="time" data-format="{{ widget.settings.format }}">
  00:00:00
</div>
{% endif %}

<div id="date" {% if widget.settings.date == false %}class="hidden date"{% endif %}>
  01/01/2000
</div>

<audio id='audio-player'>
  <source id="radio-station" type="audio/mpeg">
</audio>
