<div class="inner" data-timezone="{{ widget.settings.timezone }}" data-radio-enabled="{{ widget.settings.radio.enabled }}" data-radio-trigger-time="{{ widget.settings.radio.trigger-time }}" data-radio-station="{{ widget.settings.radio.station }}"></div>

<br>

<div id="location">
  Location
</div>

<br>

<div id="time">
  Time
</div>

<br>

<div id="date">
  Date
</div>
