<div class="inner" data-timezone="{{ widget.settings.timezone }}"
  data-radio-enabled="{{ widget.settings.radio.enabled }}"
  data-radio-trigger-time="{{ widget.settings.radio.triggerTime }}"
  data-radio-timeout="{{ widget.settings.radio.timeOut }}"
  data-radio-station="{{ widget.settings.radio.station }}">
</div>

{% if widget.settings.format == 'analog' %}
<canvas id="clock" width=180% height=180% ></canvas>
{% else %}
<div id="time" data-format="{{ widget.settings.format }}">
  00:00:00
</div>
{% endif %}

{% if widget.settings.date %}
<div id="date">
  01/01/2000
</div>
{% endif %}

<audio id='audio-player'>
  <source id="radio-station" type="audio/mpeg">
</audio>
