{% set rowClass = 'row-' + widget.location.row %}
{% set columnClass = 'column-' + widget.location.column %}
{% set heightClass = 'height-' + widget.location.height %}
{% set widthClass = 'width-' + widget.location.width %}

<div class="{{ rowClass }} {{ columnClass }} {{ heightClass }} {{ widthClass }}">
  This is the tfl widget
</div>
