.widget-name,
.widget-check,
.widget-settings-button {
  height: 40px;
  color: $white;
  float: left;
  border: 0px;
  cursor: pointer;
  outline: none;
}

.widget-name {
  width: 200px;
  background-color: #99a2a5;
  list-style: none;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  transition: all 0.2s;
}

.widget-check {
  width: 40px;
  background-color: #818a8c;
  transition: all 0.2s;
  background-image: url(/images/status.png);
  background-position: 0px -40px;
}

.widget-settings-button {
  width: 40px;
  background-color: $blue-grey;
  background-image: url(/images/settings.png);
}

.widget-settings {
  width: 280px;
  max-height: 0px;
  float: left;
  background-color: $blue-grey;
  color: white;
  font-weight: lighter;
  line-height: 130%;
  transition: max-height 0.5s;
  overflow: hidden;

  &.active {
    max-height: 600px;
  }

  form {
    padding: 10px;
  }
}

label {
  display: block;
  margin-bottom: 8px;
}

li.active {
  .widget-check {
    background-position: 0px 0px;
  }
}

.weather-list-item.active {
  .widget-name {
    background-color: $green;
  }
  .widget-check {
    background-color: darken($green, 10%);
  }
}

.tfl-trains-list-item.active {
  .widget-name {
    background-color: $blue;
  }
  .widget-check {
    background-color: darken($blue, 10%);
  }
}

.clock-list-item.active {
  .widget-name {
    background-color: $fuschia;
  }
  .widget-check {
    background-color: darken($fuschia, 10%);
  }
}

.rss-list-item.active {
  .widget-name {
    background-color: $purple;
  }
  .widget-check {
    background-color: darken($purple, 10%);
  }
}
