.widget-name {
  width: 190px;
  height: 40px;
  background-color: #99a2a5;
  color: #fff;
  list-style: none;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  float: left;
  padding-left: 10px;
  transition: all 0.2s;
}

.widget-check {
  width: 40px;
  height: 40px;
  background-color: #818a8c;
  color: #fff;
  float: left;
  border: 0px;
  cursor: pointer;
  transition: all 0.2s;
  outline: none;
}

.widget-settings {
  width: 40px;
  height: 40px;
  background-color: #394a5c;
  color: #fff;
  float: left;
  border: 0px;
  cursor: pointer;
  outline: none;
}

.widget-name-weather-active {
  width: 190px;
  height: 40px;
  background-color: #2ecc71;
  color: #fff;
  list-style: none;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  float: left;
  padding-left: 10px;
  transition: all 0.2s;
}

.widget-check-weather-active {
  width: 40px;
  height: 40px;
  background-color: #27ae60;
  color: #fff;
  float: left;
  border: 0px;
  cursor: pointer;
  transition: all 0.2s;
  outline: none;
}

.widget-name-tfl-active {
  width: 190px;
  height: 40px;
  background-color: #3498db;
  color: #fff;
  list-style: none;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  float: left;
  padding-left: 10px;
  transition: all 0.2s;
}

.widget-check-tfl-active {
  width: 40px;
  height: 40px;
  background-color: #2980b9;
  color: #fff;
  float: left;
  border: 0px;
  cursor: pointer;
  transition: all 0.2s;
  outline: none;
}

.widget-name-clock-active {
  width: 190px;
  height: 40px;
  background-color: #9b59b6;
  color: #fff;
  list-style: none;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  float: left;
  padding-left: 10px;
  transition: all 0.2s;
}

.widget-check-clock-active {
  width: 40px;
  height: 40px;
  background-color: #8e44ad;
  color: #fff;
  float: left;
  border: 0px;
  cursor: pointer;
  transition: all 0.2s;
  outline: none;
}
