$blue: #3498db;
$green: #2ecc71;
$fuschia: #9b59b6;
$purple: #6b53b6;
$blue-grey: #394a5c;
$black: #000;
$white: #fff;

// TfL
$bakerloo: #B36305;
$central: #E32017;
$circle: #FFD300;
$district: #00782A;
$dlr: #00A4A7;
$hammersmith: #F3A9BB;
$jubilee: #A0A5A9;
$metropolitan: #9B0056;
$northern: #000000;
$overground: #EE7C0E;
$piccadilly: #003688;
$tramlink: #84B817;
$victoria: #0098D4;
$waterloo: #95CDBA;

$lato: 'Lato', sans-serif;
$bignumber: 6em;
$smallfont: 1.6em;

$small-screen-up: '(min-width: 600px)';

*, *:after, *:before {
  box-sizing: border-box;
}
