html, body {
  background-color: $black;
  color: $white;
  cursor: none;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: $lato;
  padding-left: 40px;
  padding-right: 20px;
  -webkit-font-smoothing: antialiased;
}

a {
  color: lighten($blue, 20%);
}

.wrapper {
  width: 75%;
  margin: 5% auto;
  text-align: center;
}

.main-content {
  position: relative;
  height: 100%;
  transition: opacity 0.3s ease;

  &.hidden {
    opacity: 0;
  }
}

.inner {
  position: absolute;
}

.hidden {
  max-height: 0px;
  transition: max-height 3.5s;
  overflow: hidden;

  .active & {
    transition: max-height 5s;
    max-height: 999px;
  }

  &.date {
    max-height: none;
    transition: opacity 0.3s;
    opacity: 0;

    .active & {
      opacity: 1;
    }
  }
}


#clockWrapper {
  position: relative;
}

#clock {
  position: absolute;
  right: 20px;
  top: 10px;
}

.mirror-widget {
  // border: solid 1px $white; // TEMP
  padding: 1rem;
  position: absolute;
  transition: all 0.3s ease;
  // overflow-y: scroll;
  display: flex;

  &.active {
    // transform: scale(1.1);
  }
}

.column {
  &-0 {
    left: 0;
    justify-content: flex-start;
  }
  &-1 {
    left: 33.333%;
    justify-content: center;
    text-align: center;
  }
  &-2 {
    left: 66.666%;
    justify-content: flex-end;
    text-align: right;
  }
}

.row {
  &-0 {
    top: 0;
    align-items: flex-start;
  }
  &-1 {
    top: 33.333%;
    align-items: center;
  }
  &-2 {
    top: 66.666%;
    align-items: flex-end;
  }
}

.width {
  &-1 {
    width: 33.333%;
  }
  &-2 {
    width: 66.666%;
  }
  &-3 {
    width: 100%;
  }
}

.height {
  &-1 {
    height: 33.333%;
  }
  &-2 {
    height: 66.666%;
  }
  &-3 {
    height: 100%;
  }
}
