#rss-widget {
  ul {
    padding: 0;
  }

  li {
    list-style: none;
    margin-bottom: 1.5em;
    font-size: $smallfont;
  }

  .content {
    display: block;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s;
  }

  li.active {
    .content {
      transition: max-height 1.5s;
      max-height: 999px;
    }
  }
}
