.hidden {
  max-height: 0px;
  transition: max-height 3.5s;
  overflow: hidden;

  .active & {
    transition: max-height 5s;
    max-height: 999px;
  }

  &.date {
    max-height: none;
    transition: opacity 0.3s;
    opacity: 0;

    .active & {
      opacity: 1;
    }
  }
}

.tubes li {
  list-style: none;
}

.tube {
  &-title {
    line-height: 2;
    border-radius: 2px;
    padding: 2px 5px;
    font-size: 0.8em;
    font-weight: bold;
  }

  &-bakerloo {
    background-color: $bakerloo;
  }

  &-central {
    background-color: $central;
  }

  &-circle {
    background-color: $circle;
    color: $black;
  }

  &-district {
    background-color: $district;
  }

  &-dlr {
    background-color: $dlr;
  }

  &-hammersmith-city {
    background-color: $hammersmith;
    color: $black;
  }

  &-jubilee {
    background-color: $jubilee;
  }

  &-metropolitan {
    background-color: $metropolitan;
  }

  &-northern {
    background-color: $northern;
  }

  &-london-overground {
    background-color: $overground;
  }

  &-piccadilly {
    background-color: $piccadilly;
  }

  &-tram {
    background-color: $tramlink;
  }

  &-victoria {
    background-color: $victoria;
  }

  &-waterloo-city {
    background-color: $waterloo;
    color: $black;
  }
}
