.icon {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;

  .column-2 & { float: right; }
  .column-1 & { float: left; }
  .column-0 & { float: left; }
}

.top-container  {
  height: 60%;
  display: flex;
  align-items: flex-end;
}

.temp-container  {
  display: flex;
  align-items: flex-start;
}

.temp {
  font-size: 7em;
  text-align: center;

  .column-2 & { float: right; }
  .column-1 & { float: left; }
  .column-0 & { float: left; }
}

.unit {

  .double-stack {
    font-size: 2em;
    display: block;
    padding-top: 1.53rem;
  }

  .column-2 & { float: right; }
  .column-1 & { float: left; }
  .column-0 & { float: left; }
}

.description {
  width: 100%;
  height: 40%;
  float: left;
  font-size: 1.6em;
  padding: 0 0.5rem;

  .column-2 & { text-align: right; }
  .column-1 & { text-align: left; }
  .column-0 & { text-align: left; }
}

.temp h1  {
  font-size: 8em;
  font-weight: 100;
  margin: 0;
}

svg {
  overflow: visible;
}

sup {
  font-size: .2em;
}
