<div>
  <form action="">
    {% set formats = ['12-hour', '24-hour', 'analog'] %}
    {% for format in formats %}
    <label>
      <input type="radio" name="format" value="{{ format }}" data-name="{{ widget.name }}"
      {% if widget.settings.format == format %}checked="checked"{% endif %}>
      {{ format | replace('-', ' ') | title }}
    </label>
    {% endfor %}
    <label>
      <input type="checkbox" name="date" value="date" data-name="{{ widget.name }}"
      {% if widget.settings.date %}checked="checked"{% endif %}>
      Date
    </label>
  </form>
</div>
