<div>
  <form action="">
    <label>
      <input type="checkbox" value="bakerloo" data-name="{{ widget.name }}" {% if widget.settings.bakerloo %}checked="checked"{% endif %}> Bakerloo
    </label>
    <label>
      <input type="checkbox" value="central" data-name="{{ widget.name }}" {% if widget.settings.central %}checked="checked"{% endif %}> Central
    </label>
    <label>
      <input type="checkbox" value="circle" data-name="{{ widget.name }}" {% if widget.settings.circle %}checked="checked"{% endif %}> Circle
    </label>
    <label>
      <input type="checkbox" value="district" data-name="{{ widget.name }}" {% if widget.settings.district %}checked="checked"{% endif %}> District
    </label>
    <label>
      <input type="checkbox" value="hammersmith" data-name="{{ widget.name }}" {% if widget.settings.hammersmith %}checked="checked"{% endif %}> Hammersmith & City
    </label>
    <label>
      <input type="checkbox" value="jubilee" data-name="{{ widget.name }}" {% if widget.settings.jubilee %}checked="checked"{% endif %}> Jubilee
    </label>
    <label>
      <input type="checkbox" value="metropolitan" data-name="{{ widget.name }}" {% if widget.settings.metropolitan %}checked="checked"{% endif %}> Metropolitan
    </label>
    <label>
      <input type="checkbox" value="northern" data-name="{{ widget.name }}" {% if widget.settings.northern %}checked="checked"{% endif %}> Northern
    </label>
    <label>
      <input type="checkbox" value="piccadilly" data-name="{{ widget.name }}" {% if widget.settings.piccadilly %}checked="checked"{% endif %}> Piccadilly
    </label>
    <label>
      <input type="checkbox" value="victoria" data-name="{{ widget.name }}" {% if widget.settings.victoria %}checked="checked"{% endif %}> Victoria
    </label>
    <label>
      <input type="checkbox" value="waterloo" data-name="{{ widget.name }}" {% if widget.settings.waterloo %}checked="checked"{% endif %}> Waterloo & City
    </label>
  </form>
</div>
