<!DOCTYPE html>
<html>
  <head>
    <title>Mirror</title>
    {% block styles %}
    {% endblock %}
  </head>
  <body id='body'>
    <div class="main-content">
    {% block mainContent %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    {% block scripts %}
    {% endblock %}
    </div>
  </body>
</html>
