<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/main.css" charset="utf-8">
  </head>
  <body>
    {% block mainContent %}
    {% endblock %}
    Hello from outside the mirror, not much happening here!
  </body>
</html>
