{% extends './layout.njk' %}

{% block mainContent %}
<div class="main-content">
  {% for widget in widgetData %}
    {% if widget.active %}
      {% set rowClass = 'row-' + widget.location.row %}
      {% set columnClass = 'column-' + widget.location.column %}
      {% set heightClass = 'height-' + widget.location.height %}
      {% set widthClass = 'width-' + widget.location.width %}

      <div class="{{ rowClass }} {{ columnClass }} {{ heightClass }} {{ widthClass }}">
        {% include './widget-templates/_' + widget.name + '.njk' %}
      </div>
    {% endif %}
  {% endfor %}
</div>
{% endblock %}
