{% extends './layout.njk' %}

{% block styles %}
  <link rel="stylesheet" href="/css/mirror.css" charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
{% endblock %}

{% block mainContent %}
  {% for widget in widgetData %}
    {% if widget.active %}
      {% set rowClass = 'row-' + widget.location.row %}
      {% set columnClass = 'column-' + widget.location.column %}
      {% set heightClass = 'height-' + widget.location.height %}
      {% set widthClass = 'width-' + widget.location.width %}

      <div class="{{ rowClass }} {{ columnClass }} {{ heightClass }} {{ widthClass }} mirror-widget" id="{{widget.name}}-widget">
        <div>
          {% include './widget-templates/_' + widget.name + '.njk' %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}

{% block scripts %}
  <script src="/lib/leap.min.js"></script>
  <script src="/lib/three.min.js"></script>
  <script src="/lib/detector.min.js"></script>
  <script src="/lib/leapcursor.js"></script>
  <script src="/scripts/mirror-bundle.js"type="text/javascript"></script>
{% endblock %}
